Doctype
html
  head
    meta(charset="utf-8")
    link(rel="stylesheet" type="text/css" href="style.css")
    title Herointerview

body

<!--header-->

  div(class="header")
    img(class="menu" src="image/menu.png")
    img(class="title" src="image/titlelogo.png")

    ul(class="sns")
        li
          img(src="image/twitter.png")
        li
          img(src="image/facebook.png")
        li
          img(src="image/youtube.png")


<!--menu-->

  div(class="header_menubar")
    ul(class="home_menubar")
      li  READY?
      li  ニュース
      li  チーム検索・登録
      li  アプリ
      li  お問い合わせ


<!--top-->

  div(class="top")
    div(class="top_left")
      img(src="image/main_image.png")

    div(class="top_right")
      div(class="top_right_sub")
        img(src="image/main_small.png")
      div(class="top_right_sub")
        img(src="image/main_2.png")
      div(class="top_right_small")
        img(src="image/main_3.png")


<!--第1セクション-->

  div(class="section_1")
    div(class="section1_left")
      div(class="section1_title") WHO WE ARE

      ul(class="section1_sentence1")
        li 頑
        li 張
        li る
        li 若
        li 者

      ul(class="section1_sentence1")
        li 皆
        li ん
        li な
        li が
        li
          img(class="line" src="image/stripe_line.png")

      ul(class="section1_sentence1")
        li
          img(class="line" src="image/stripe_line.png")
        li ヒ
        li ー
        li ロ
        li ー

      div(class="spotlight") BE IN THE SPOTLIGHT
      div(class="section1_btn")
        p(class="btn_name") ヒーローインタビューとは
        div(class="btn1_next")

    div(class="section1_right")
      div(class="page_bar")
      img(class="page", src="image/section1_main.png")
      img(class="next_page", src="image/next_articles.png")


<!--第二セクション-->

  div(class="section_2")
    div(class="section2_left")
      div(class="section2_title") NEWS
    
      div(class="headline2") Those Who Fight Further.

      div(class="section2_menu")
        div(class="section2_btn")
          p(class="btn2_name") MORE
          div(class="btn2_next")
        
        ul(class="menu_content")
          li 全ての情報
          li 試合結果
          li インタビュー
          li むーたくんTV
          li その他

    div(class="section2_right")
      div(class="special")
        ul(class="special_content")
          li(class="special_image")
          li(class="special_writer")
          li(class="special_headline")

        ul(class="special_content")
          li(class="special_image")
          li(class="special_writer")
          li(class="special_headline")

        ul(class="special_content")
          li(class="special_image")
          li(class="special_writer")
          li(class="special_headline")

        ul(class="special_content")
          li(class="special_image")
          li(class="special_writer")
          li(class="special_headline")

<!--第3セクション-->
div(class="section_3")

  div(class="section3_title") PICUP TEAMS

  div(class="headlin3")
    div(class="headline3_1") The Power of
    div(class="headline3_2") Teamwork.
    div(class="headline3_3") by Team

  ul(class="picup")
    li
      img(src="image/picUp_1.png")
    li
      img(src="image/picUp_2.png")
    li
      img(src="image/picUp_3.png")
    li
      img(src="image/picUp_4.png")
    li
      img(src="image/picUp_5.png")
    li
      img(class="join", src="image/join_batonpath.png")

  div(class="section3_btn")
    p(class="btn_name") チームをもっとみる
    div(class="btn_next")


<!--第4セクション-->

div(class="section_4")
  div(class="section4_title") CLIENTS

  div(class="headline4") Act With One Heart and Mind. 

  ul(class="cell")
    li
      img(src="image/yomiuri.png")
    li
      img(src="image/asics.png")
    li
      img(src="image/s_authority.png")
    li
      img(src="image/bellemaison.png")
    li
      img(src="image/bestoen.png")
    li
      img(src="image/eccjr.png")

  ul(class="cell")
    li
      img(src="image/union.png")
    li
      img(src="image/sanko.png")
    li
      img(src="image/sagawa.png")
    li
      img(src="image/aoyama.png")
    li
      img(src="image/livemax.png")
    li
      img(src="image/moving_global_senko.png")

  ul(class="cell")
    li
      img(src="image/fukuya.png")
    li
      img(src="image/shaball.png")
    li
      img(src="image/osho.png")
    li
      img(src="image/visionup.png")
    li
      img(src="image/utamaro.png")
    li
      img(src="image/p-and-p.png")
    
  ul(class="cell")
    li
      img(src="image/sas.png")
    li
      img(src="image/abest.png")
    li
      img(src="image/src.png")
    li
      img(src="image/raq.png")
    li
      img(src="image/marukyo.png")
    li
      img(src="image/yaokin.png")

  ul(class="cell")
    li
      img(src="image/aiaio.png")
    li
      img(src="image/mk.png")
    li
      img(src="image/naigai.png")
    li
      img(src="image/matsushita.png")
    li
      img(src="image/kamadoya.png")
    li
      img(src="image/oriba-.png")

  ul(class="cell")
    li
      img(src="image/dc.png")
    li
      img(src="image/printcarry.png")
    li
      img(src="image/oogata.png")
    li
      img(src="image/sys.png")
    li
      img(src="image/g-try.png")
    li
      img(src="image/fukuda.png")

  ul(class="cell")
    li
      img(src="image/hotelplazaosaka.png")
    li
      img(src="image/artjoy.png")
    li
      img(src="image/bottom_up.png")
    li
      img(src="image/maruichi.png")
    li
      img(src="image/cleanup.png")
    li
      img(src="image/heartland.png")

  ul(class="cell")
    li
      img(src="image/kanpo_logo.png")
    li
      img(src="image/maruyama_logo.png")
    li
      img(src="image/purina_logo.png")
    li
      img(src="image/senko_logo.png")
    li
      img(src="image/worklifecare_logo.png")
    li
      img(src="image/sugiyama_logo.png")

  ul(class="cell")
    li
      img(src="image/boltonplus_logo.png")
    li
      img(src="image/kazeno.png")
    li
      img(src="image/tintai.png")
    li
      img(src="image/petabit.png")
    li
      img(src="image/jvc.png")
    li
      img(src="image/juteru.png")

  ul(class="cell")
    li
      img(src="image/tat.png")


<!--hooder-->

div(class="hooder")
  div(class="hooder_up")
    img(class="hooder_log", src="image/titlelogo.png")

    div(class="hooder_address")
      div(class="office") 神戸本社
      div(class="adress") 〒651-0084 神戸市中央区磯辺通3-2-17 ワールド三宮ビル6階

    ul(class="link")
       li
         img(class="icon", src="image/Map.png")
         p View on Google Maps
       li
         img(class="icon", src="image/phone.png")
         p 078-200-2022
       li
         img(class="icon", src="image/App.png")
         p Downlode the App

  div(class="hooder_under")
    div(class="copywrite") ©2018 Herointerview Inc.
    
    div(class="hooder_sns")
      svg(xmlns="http://www.w3.org/2000/svg" width="20" height="16.251" viewBox="0 0 20 16.251" )
        path(id="パス_38" data-name="パス 38" class="cls-1" d="M81.29,114.7a11.6,11.6,0,0,0,11.675-11.675c0-.178,0-.354-.012-.53A8.349,8.349,0,0,0,95,100.372a8.19,8.19,0,0,1-2.357.646,4.118,4.118,0,0,0,1.8-2.27,8.223,8.223,0,0,1-2.606,1,4.107,4.107,0,0,0-6.993,3.742A11.65,11.65,0,0,1,76.392,99.2a4.106,4.106,0,0,0,1.27,5.478,4.073,4.073,0,0,1-1.862-.514v.052a4.1,4.1,0,0,0,3.292,4.022,4.1,4.1,0,0,1-1.853.07,4.108,4.108,0,0,0,3.834,2.85,8.234,8.234,0,0,1-5.1,1.76,8.353,8.353,0,0,1-.977-.059,11.617,11.617,0,0,0,6.29,1.84" transform="translate(-75 -98.45)")

      svg(xmlns="http://www.w3.org/2000/svg" width="10.378" height="20" viewBox="0 0 10.378 20")
        path(id="f" class="cls-1" d="M30.172,28.76v-9.11h3.075l.459-3.566H30.172V13.813c0-1.032.288-1.73,1.767-1.73h1.889V8.9a26.077,26.077,0,0,0-2.742-.138c-2.717,0-4.569,1.657-4.569,4.7v2.624H23.45v3.566h3.067v9.11Z" transform="translate(-23.45 -8.76)")

      svg(xmlns="http://www.w3.org/2000/svg" width="20" height="14" viewBox="0 0 20 14")
        path(id="パス_39" data-name="パス 39" class="cls-1" d="M104.132,87.225a2.505,2.505,0,0,0-1.768-1.768c-1.56-.418-7.814-.418-7.814-.418s-6.254,0-7.814.418a2.5,2.5,0,0,0-1.768,1.768,27.941,27.941,0,0,0,0,9.628,2.5,2.5,0,0,0,1.768,1.768c1.56.418,7.814.418,7.814.418s6.254,0,7.814-.418a2.5,2.5,0,0,0,1.768-1.768,27.941,27.941,0,0,0,0-9.628ZM92.55,95.039v-6l5.2,3Z" transform="translate(-84.55 -85.039)")      

    ul(class="hooder_menubar")
      li HOME
      li ニュース
      li 試合結果
      li チーム検索・登録
      li アプリ
      li お問い合わせ
        






      
    