Doctype
html
  head
    meta(charset="utf-8")
    link(rel="stylesheet" type="text/css" href="style.css")
    title Herointerview

body
  div(class="header")
    img(class="menu" src="image/menu.png")
    img(class="title" src="image/titlelogo.png")

    ul(class="sns")
        li
          img(src="image/twitter.png")
        li
          img(src="image/facebook.png")
        li
          img(src="image/youtube.png")

  div(class="header_menubar")
    ul(class="home_menubar")
      li  READY?
      li  ニュース
      li  チーム検索・登録
      li  アプリ
      li  お問い合わせ

  div(class="top")
    div(class="top_left")
      img(src="image/main_image.png")

    div(class="top_right")

    