@charset "utf-8";

* {
    margin:0; padding:0;
  }



  /*header*/

.header{
    display: flex;
    flex-wrap:nowrap;
}
#menu{
    width: 24px;
    height: 22px;
    background: transparent;
 
    margin: 33px 33px;
   
}

#title{
    width: 132px;
    height: 28.53px;
    background: transparent;
    
    margin: 23px 560px 22.4px 560px; 
}

ul.sns{
    display: inline-flex;
    flex-direction: row-reverse;
    margin:30px 24px;
}

ul.sns li{
    display:inline;
    margin: 0 16px;
}


header #twitter{
    width: 20px;
    height: 16.25px;
    /*background:#15181b;*/

}

header #facebook{
    width: 10.38px;
    height: 20px;
    /*background:#15181b;*/

}

header #youtube{
    width: 20px;
    height: 14px;
    background: transparent;
}

#topborder{
    width: 20px;
    height: 14px;
    background: transparent;
   
}

ul.HomeMenubar{
    text-align: center;
    border-top: solid 1px #E3E3E3;
    padding: 16px;
}

ul.HomeMenubar li{
    display:inline;
    margin: 0 32px;
    
}

#mainimg{
    width: 100vw;
    display: block;
    margin: auto auto;
}


/*セクション1*/


.section_1{
    display: flex;
    width: 1240px; height: 560px;
    border: solid 1px #000000;
    margin: 119px 40px;
    
}

.section1_left{
    width: 324px; height: 399px;
    border: solid 1px #000000;

}

.section1_title {
    width: 256px; height: 21px;
    border: solid 1px #fff;
    
    display: flex;
    justify-content: flex-end;
    align-items: center;

    font-family: "Airbnb Cereal App";
    font-weight: bold;
    font-size: 16px;
    letter-spacing: 0.08em;
    line-height: 20px;
    color: #15181b;
    
}

.section1_title:before
 {
    border-top: 1px solid;
    content: "";
    width: 120px;
    margin-right: 16px;
}

ul.section1_sentence1{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 320px; height: 32px;
    border: solid 1px #fff;
    margin-top: 41px;
    
}

ul.section1_sentence1 li{
    display: flex;
    width: 32px; height: 32px;
    border: solid 1px #fff;
   

    font-family: "Noto Sans CJK JP";
    font-weight: normal;
    font-size: 32px;
    text-align: center;
    color: #15181b;

}

ul.section1_sentence2 li.line{
    width: 32px; height: 6px;
    border: solid 1px #fff;
    margin-top: 13px;
    
}

ul.section1_sentence2{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 320px; height: 32px;
    border: solid 1px #fff;
    margin-top: 41px;
    line-height: 32px;
}

ul.section1_sentence2 li{
    display: flex;
    width: 32px; height: 32px;
    border: solid 1px #fff;
   

    font-family: "Noto Sans CJK JP";
    font-weight: normal;
    font-size: 32px;
    text-align: center;
    color: #15181b;

}


.spotlight{
    width: 238px; height: 21px;
    border: solid 1px #fff;
    margin: 41px 48px auto;

    font-family: "Airbnb Cereal App";
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 0.24em;
    line-height: 20px;

    color: #15181b;

}

.section1_btn{
    display: flex;
    width: 320px; height: 56px;
    border:solid 2px #FF585E;
    box-shadow: 4px 4px #35BEED;
    line-height: 56px;
    margin-top: 40px;

    font-family: "Noto Sans CJK JP";
    font-weight: bold;
    font-size: 14px;
    letter-spacing: 0.08em;
    line-height: 56px;
    color: #15181b;
}

.section1_right{
    width: 840px; height: 519px;
    border: solid 1px #000000;
    margin-left: 36px;
}

/*セクション2*/
.section_2{
    display: flex;
    width: 1240px; height: 456px;
    border: solid 1px #000000;
    margin-top: 119px;
}

.section2_left{
    display: block;
    width: 440px; height: 456px;
    border: solid 1px #fff;
}

.section_title {
    width: 183px; height: 21px;
    border: solid 1px #fff;
    margin-left: 40px;
    
    display: flex;
    justify-content: flex-end;
    align-items: center;

    font-family: "Airbnb Cereal App";
    font-weight: bold;
    font-size: 16px;
    letter-spacing: 0.08em;
    line-height: 20px;
    color: #15181b;

}

.section_title:before{
    border-top: 1px solid;
    content: "";
    width: 120px;
    margin-right: 16px;
}
 

.headline{
    width: 210px; height: 81px;
    border: solid 1px #fff;
    margin:38px 40px;

    font-family: "Airbnb Cereal App";
    font-weight: bold;
    font-size: 32px;
    line-height: 40px;
    text-align: left;
    color: #15181b;

}

.section2_menu{
    display: flex;
}

.moreBtn{
    writing-mode: tb-rl;
    width: 56px; height: 269px;
    border:solid 2px #FF585E;
    box-shadow: 4px 4px #35BEED;
    line-height: 56px;

    font-family: "Noto Sans CJK JP";
    font-weight: bold;
    font-size: 14px;
    letter-spacing: 0.08em;
    line-height: 56px;
    color: #15181b;

}

ul.contentMenu{
    width: 360px; height: 267px;
    border:solid 1px #fff;
    margin-left:20px; 
}

ul.contentMenu li:first-child{
    display: flex;
    width: 360px; height: 41px;
    border-bottom:solid 3px #F3581A;
    line-height: 21px;
}

ul.contentMenu li{
    display: flex;
    width: 360px; height: 57px;
    border-bottom:solid 1px #707070;
    line-height: 57px;
}

.section2_right{
    width: 760px; height: 451px;
    background-color:#F7F7F7;
    margin-left: 40px;
}

ul.special{
    width: 712px; height: 427px;
    border: solid 1px #000000;
    margin: 24px;
}

ul.special li:first-child{
    margin-top: 0px;
}

ul.special li{
    display: inline-block;
    margin-top: 16.3px;
    width: 712px; height: 64px;
    border: solid 1px #000000;

}

/*セクション3*/
.section_3{
    width: 1205px; height: 427px;
    border: solid 1px #fff;
    margin: 119px 39px auto;
}

.section3_title {
    width: 268px; height: 21px;
    border: solid 1px #fff;
       
    display: flex;
    justify-content: flex-end;
    align-items: center;

    font-family: "Airbnb Cereal App";
    font-weight: bold;
    font-size: 16px;
    letter-spacing: 0.08em;
    line-height: 20px;
    color: #15181b;

}

.section3_title:before{
    border-top: 1px solid;
    content: "";
    width: 120px;
    margin-right: 16px;
}
 

.headline3{
    display: inline-flex;
    margin-top: 38px;
    align-items: flex-end;
}

.headline3_1{
    width: 210px; height: 41px;
    border: solid 1px #fff;
    margin-left: 40px;

    font-family: "Airbnb Cereal App";
    font-weight: bold;
    font-size: 32px;
    line-height: 40px;  
    color: #15181b;
}

.headline3_2{
    width: 169px; height: 41px;
    border: solid 1px #fff;
    margin-left: 275px;

    font-family: "Airbnb Cereal App";
    font-weight: bold;
    font-size: 32px;
    line-height: 40px;
    color: #15181b;
    
}

.headline3_3{
    width: 64px; height: 21px;
    border: solid 1px #fff;
    margin-left: 8px;;

    font-family: "Airbnb Cereal App";
    font-weight: bold;
    font-size: 16px;
    line-height: 21px;
    color: #15181b;    
}

ul.picUp{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

ul.picUp li{
    display: inline-block;
    width: 373px; height: 120px;
    border: solid 1px #ffffff;
    box-shadow: 0 0 12px #cccccc;
    margin-top: 40px;
    align-items: center;

}

ul.picUp li.picUp_join{
    display: inline-block;
    width: 373px; height: 120px;
    border-bottom:solid 5px #FF585E;
    border-right:solid 5px #FF585E;
}

.section3_btn{
    display: flex;
    width: 320px; height: 56px;
    border:solid 2px #FF585E;
    box-shadow: 4px 4px #35BEED;
    line-height: 56px;
    margin: 36px 39px auto;

    font-family: "Noto Sans CJK JP";
    font-weight: bold;
    font-size: 14px;
    letter-spacing: 0.08em;
    line-height: 56px;
    color: #15181b;

}


/*スポンサーリンク一覧*/

.section4{
    display: inline-block;
    margin: 10px;
    margin-top: 116px;
}



.section4_title{
    font-family: "Airbnb Cereal App";
    font-weight: bold;
    font-size: 16px;
    letter-spacing: 0.08em;
    line-height: 20px;

    color: #15181b;
}

.headline4{
    width: 456px; height: 41px;
    border: solid 1px #fff;
    margin:38px 40px;

    font-family: "Airbnb Cereal App";
    font-weight: bold;
    font-size: 32px;
    line-height: 40px;
    text-align: left;
    color: #15181b;
}

ul.cell{
    display: flex;
    justify-content: space-between;
    text-align: center;
    flex-wrap: wrap;
    margin: auto 40px;
    
}

ul.cell li{
    width: 160px;
    height: 80px;
    margin: 8px 24px;
    text-align: center;
    display:block;
    
    
}


/*hooder*/

.hooder{
    width: 1280px; height: 336px;
    border: solid 1px #000000;
    margin-top: 240px;
}

.hooder_up{
    display: flex;
    width: 1066px; height: 176px;
    border: solid 1px #000000;
    margin-left: 40px;
}

.hooder_logo{
    width: 240px; height: 51.88px;
    border: solid 1px #000000;
    margin-left: 109px;

}

.hooder_address{
    width: 304px; height: 72px;
    border: solid 1px #000000; 
    margin-left: 109px;
}

.office{
    width: 64px; height: 21px;
    border: solid 1px #000000; 

    font-family: "Noto Sans CJK JP";
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    text-align: left;
    color: #15181b;
}

.adress{
    width: 304px; height: 42px;
    border: solid 1px #000000; 
    margin-top: 9px;

    font-family: "Noto Sans CJK JP";
    font-weight: normal;
    font-size: 14px;
    line-height: 21px;
    text-align: left;
    color: #15181b;
}

ul.link{
    width: 224px; height: 176px;
    border: solid 1px #000000; 
    margin-left: 80px;
}

ul.link li:first-child{
    width:223px; height:48px;
    border:1px solid #000000;
    margin-top: 0px;
    display: flex;
    align-items: center;
}

ul.link li{
    width:223px; height:48px;
    border:1px solid #000000;
    margin-top: 16px;
    display: flex;
    align-items: center;
}

.icon{
    width: 48px; height: 48px;
    border: solid 1px #000000;

}



.hooder_under{
    display: flex;
    width: 1280px; height: 80px;


    border-bottom: solid 4px #FF585E;
    background: #888888;
    margin-top: 80px;
}

.copywrite{
    width: 156px; height: 16px;
    border: solid 1px #000000;
    margin: 32px 0px 0px 104px;

    font-family: "Airbnb Cereal App";
    font-weight: 500;
    font-size: 12px;
    letter-spacing: 0.04em;
    line-height: 20px;
    color: #fff;
}

ul.hooder_sns{
    display: flex;
    width: 114px; height: 20px;
    border: solid 1px #000000;
    justify-content: space-between;

    margin: 32px 0px 0px 94px;
}

ul.hooder_sns li{
    display:inline;
}



ul.menubar{
    display: flex;
    margin-top: 31px;

    font-family: "Airbnb Cereal App";
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    text-align: left;
    color: #fff;

}

ul.menubar li{
    display:inline;
    margin: 0 30px;
    
}